@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* Classe pour styliser un titre */
.titre {
    @apply text-titre font-titre text-beige uppercase;
}

/* Classe pour styliser un plus petit titre */
.titre2 {
    @apply text-titreSection font-titre text-darkGrey uppercase;
}

/* Classe pour un petit texte */
.smallText {
    @apply text-footer font-small text-beige;
}

/* Classe pour le text des réseaux sociaux */
.reseaux {
    @apply text-reseaux text-darkGrey;
}

/* Classe pour le text des articles */
.article {
    @apply text-article text-darkGrey text-ellipsis overflow-hidden whitespace-nowrap;
}

.smallArticle {
    @apply text-smallArticle text-darkGrey text-ellipsis overflow-hidden whitespace-nowrap;
}

/* Classe pour animer le caroussel */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

#carousel {
    scroll-behavior: smooth;
    padding: 0 64px;
    /* Pour laisser l'espace des flèches */
}

/* Styles pour le label lorsque le checkbox est coché */
#enVedetteBtn:checked+label, #masquerBtn:checked+label, #flouterBtn:checked+label {
    @apply bg-[#ebe3dc] text-darkGrey;
    /* Appliquer les styles de Tailwind */
}

.content-height {
    height: calc(100vh - 48px - 25px);
}
